[package]
name = "bvh"
description = "A fast BVH using SAH"
version = "0.4.0"
edition = "2018"
authors = [
    "Sven-Hendrik Haase <svenstaro@gmail.com>",
    "Alexander Dmitriev <alexander.dmitriev2580@gmail.com>"
]
readme = "README.md"
repository = "https://github.com/svenstaro/bvh"
documentation = "https://docs.rs/crate/bvh"
keywords = ["bvh", "bounding", "volume", "sah", "aabb"]
license = "MIT"

[dependencies]
approx = "0.4"
rand = "0.8"
log = "0.4"
num = "0.4"
glam = "0.13.0"

[dev-dependencies]
quickcheck = "0.9"
obj-rs = "0.6"

[features]
bench = []

[profile.release]
lto = true
codegen-units = 1

[profile.bench]
lto = true
codegen-units = 1
