[package]
name = "bvh"
description = "A fast BVH using SAH"
version = "0.7.2"
edition = "2018"
authors = [
    "Sven-Hendrik Haase <svenstaro@gmail.com>",
    "Alexander Dmitriev <alexander.dmitriev2580@gmail.com>"
]
readme = "README.md"
repository = "https://github.com/svenstaro/bvh"
documentation = "https://docs.rs/crate/bvh"
keywords = ["bvh", "bounding", "volume", "sah", "aabb"]
license = "MIT"
resolver = "2"

[dependencies]
approx = "0.5"
rand = "0.8"
log = "0.4"
num = "0.4"
glam = "0.23"
serde = { optional = true, version = "1", features = ["derive"] }

[dev-dependencies]
proptest = "1.0"
obj-rs = "0.7"
float_eq = "1"
doc-comment = "0.3"

[features]
bench = []
serde = ["dep:serde", "glam/serde"]

[profile.release]
lto = true
codegen-units = 1

[profile.bench]
lto = true
codegen-units = 1
